    #calc {
        width: 95%;
        border-radius: 20px;
        padding: 5%;
        margin-left: 2%;
        background-color: black;
        border: 1px black solid;
    }
    
    .formstyle {
        width: 100%;
        height: 100%;
        border: 3px solid gray;
        border-radius: 20px;
        background-color: black;
    }
    
    input {
        background-color: 9f9f9f;
        width: 100px;
        height: 100px;
        font-size: 50px;
        color: white;
        border-radius: 100%;
    }
    
    .btn {
        background-color: #313131;
        width: 100px;
        height: 100px;
        font-size: 30px;
        color: white;
        border-radius: 100%;
    }
    
    .ac {
        background-color: #ED9421;
        width: 200px;
        height: 100px;
        font-size: 50px;
        color: white;
        border-radius: 20px;
        margin-left: 350px;
        font-weight: lighter;
    }
    
    .bs {
        background-color: #ED9421;
        width: 200px;
        height: 100px;
        font-size: 50px;
        color: white;
        border-radius: 20px;
        font-weight: lighter;
    }
    
    .ac:hover {
        color: black;
    }
    
    h1 {
        font-weight: bold;
    }
    
    @media only screen and (max-width: 1200px) {
        .ac {
            background-color: #ED9421;
            width: 200px;
            height: 100px;
            font-size: 50px;
            color: white;
            border-radius: 20px;
            font-weight: lighter;
            margin-left: 57px;
        }
        .bs {
            background-color: #ED9421;
            width: 200px;
            height: 100px;
            font-size: 50px;
            color: white;
            border-radius: 20px;
            font-weight: lighter;
        }
    }